<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HomePage</title>
</head>
<body>
	<center> <h1>Tis is Home Page</h1> </center>
	<center>
<p>Разум - это Будда, а прекращение
умозрительного мышления - это путь.
Перестав мыслить понятиями и
размышлять о путях существования и
небытия, о душе и плоти, о пассивном
и активном и о других подобных вещах,
начинаешь осознавать, что твой разум - это
Будда, что Будда - это сущность
разума, и что разум по
бесконечности.</p>
</center>
</body>
</html>